In [1]:
import pandas as pd

params_path = output_path = 'C:\\Users\\Simon Andersen\\Documents\\Uni\\Speciale\\Hyperuniformity\\output_old\\output_5trials\\model_params.csv'


# Creating a pandas DataFrame
df = pd.read_csv(params_path, index_col=0)

# drop ']' and '[' from the string
for col in df.columns:
    df[col] = df[col].str.replace('[', '')
    df[col] = df[col].str.replace(']', '')

C:\Users\Simon Andersen\AppData\Local\Temp\ipykernel_15452\4065721970.py:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('[', '')
C:\Users\Simon Andersen\AppData\Local\Temp\ipykernel_15452\4065721970.py:12: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace(']', '')

In [4]:
for col in df.columns:
    print(col, df[col])

LX 0    256
Name: LX, dtype: object
LY 0    256
Name: LY, dtype: object
BC 0    0
Name: BC, dtype: object
nsteps 0    100000
Name: nsteps, dtype: object
nsubsteps 0    1
Name: nsubsteps, dtype: object
ninfo 0    500
Name: ninfo, dtype: object
nstart 0    10000
Name: nstart, dtype: object
angle 0    0.0
Name: angle, dtype: object
noise 0    0.05
Name: noise, dtype: object
rho 0    40.0
Name: rho, dtype: object
Gamma 0    0.05
Name: Gamma, dtype: object
xi 0    1.0
Name: xi, dtype: object
xiS 0    1.0
Name: xiS, dtype: object
zeta 0    0.1
Name: zeta, dtype: object
zeta_iso 0    0.0
Name: zeta_iso, dtype: object
tau 0    1.0
Name: tau, dtype: object
friction 0    0.0
Name: friction, dtype: object
K1 0    0.05
Name: K1, dtype: object
K3 0    0.05
Name: K3, dtype: object
L1 0    0.0
Name: L1, dtype: object
L2 0    0.05
Name: L2, dtype: object
L3 0    0.0
Name: L3, dtype: object
use_L3 0    0
Name: use_L3, dtype: object
CC 0    1.0
Name: CC, dtype: object
u_kBT 0    0.0
Name: u_kBT, dtype: object
Q_kBT 0    0.0
Name: Q_kBT, dtype: object
Q_fluc_mode 0    1
Name: Q_fluc_mode, dtype: object
no_backflow 0    0
Name: no_backflow, dtype: object
use_init_conds 0    False
Name: use_init_conds, dtype: object
anchor1 0    0.0
Name: anchor1, dtype: object
anchor2 0    0.0
Name: anchor2, dtype: object
phase_twist 0    0.0
Name: phase_twist, dtype: object
num_frames 0    181
Name: num_frames, dtype: object

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 0 to 0
Data columns (total 33 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   LX              1 non-null      object
 1   LY              1 non-null      object
 2   BC              1 non-null      object
 3   nsteps          1 non-null      object
 4   nsubsteps       1 non-null      object
 5   ninfo           1 non-null      object
 6   nstart          1 non-null      object
 7   angle           1 non-null      object
 8   noise           1 non-null      object
 9   rho             1 non-null      object
 10  Gamma           1 non-null      object
 11  xi              1 non-null      object
 12  xiS             1 non-null      object
 13  zeta            1 non-null      object
 14  zeta_iso        1 non-null      object
 15  tau             1 non-null      object
 16  friction        1 non-null      object
 17  K1              1 non-null      object
 18  K3              1 non-null      object
 19  L1              1 non-null      object
 20  L2              1 non-null      object
 21  L3              1 non-null      object
 22  use_L3          1 non-null      object
 23  CC              1 non-null      object
 24  u_kBT           1 non-null      object
 25  Q_kBT           1 non-null      object
 26  Q_fluc_mode     1 non-null      object
 27  no_backflow     1 non-null      object
 28  use_init_conds  1 non-null      object
 29  anchor1         1 non-null      object
 30  anchor2         1 non-null      object
 31  phase_twist     1 non-null      object
 32  num_frames      1 non-null      object
dtypes: object(33)
memory usage: 272.0+ bytes

In [15]:
df.columns

Index(['LX', 'LY', 'BC', 'nsteps', 'nsubsteps', 'ninfo', 'nstart', 'angle',
       'noise', 'rho', 'Gamma', 'xi', 'xiS', 'zeta', 'zeta_iso', 'tau',
       'friction', 'K1', 'K3', 'L1', 'L2', 'L3', 'use_L3', 'CC', 'u_kBT',
       'Q_kBT', 'Q_fluc_mode', 'no_backflow', 'use_init_conds', 'anchor1',
       'anchor2', 'phase_twist', 'num_frames'],
      dtype='object')

In [31]:
df[tab2]

,angle,noise,rho,Gamma,xi,xiS,zeta,zeta_iso,tau,friction,...,K3,L1,L2,L3,use_L3,CC,u_kBT,Q_kBT,Q_fluc_mode,no_backflow
0,0.0,0.05,40.0,0.05,1.0,1.0,0.1,0.0,1.0,0.0,...,0.05,0.0,0.05,0.0,0,1.0,0.0,0.0,1,0

In [29]:
tab1 = ['LX', 'LY', 'nsteps', 'nsubsteps', 'nstart', 'ninfo', 'num_frames']
tab2 = ['angle',
       'noise', 'rho', 'Gamma', 'xi', 'xiS', 'zeta', 'zeta_iso', 'tau',
       'friction', 'K1', 'K3', 'L1', 'L2', 'L3', 'use_L3', 'CC', 'u_kBT',
       'Q_kBT', 'Q_fluc_mode', 'no_backflow', 'use_init_conds', 'anchor1',
       'anchor2', 'phase_twist',]
# Generating LaTeX table
latex_table = df[tab2].to_latex(index=False)

print(latex_table)

\begin{tabular}{lllllllllllllllllllll}
\toprule
angle & noise &  rho & Gamma &  xi & xiS & zeta & zeta\_iso & tau & friction &   K1 &   K3 &  L1 &   L2 &  L3 & use\_L3 &  CC & u\_kBT & Q\_kBT & Q\_fluc\_mode & no\_backflow \\
\midrule
  0.0 &  0.05 & 40.0 &  0.05 & 1.0 & 1.0 &  0.1 &      0.0 & 1.0 &      0.0 & 0.05 & 0.05 & 0.0 & 0.05 & 0.0 &      0 & 1.0 &   0.0 &   0.0 &           1 &           0 \\
\bottomrule
\end{tabular}

C:\Users\Simon Andersen\AppData\Local\Temp\ipykernel_11052\3487364820.py:6: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  latex_table = df[tab2].to_latex(index=False)